* {
    margin: 0;
    padding: 0;
    font-family: Assistant,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
header
{
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;

}
.myntra_home
{
    height: 45px;
    
}
.logo_container
{
    margin-left: 4%;
}
.action_bar
{
    margin-right: 4%;
}
.nav_bar
{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.nav_bar a
{
    letter-spacing: .3px;
    color: #282c3f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.nav_bar a:hover
{
    border-bottom: 2px solid #ff3f6c;
}
{
    color: #ff3f6c;
}
.nav_bar a sup 
{
    color: #ff3f6c;
    font-size: 10px;

}


.search_bar
{
height: 40px;height: 40px;
min-width: 400px;
width: 30%;
display: flex;
align-items: center;
}
.search_icon
{
    box-sizing: content-box;
height: 20px;
padding: 10px;
 background-color: #f5f5f6;
 color: #282c3f;
 font-weight: 300;
 border-radius: 3px 0 0 4px;
}

.search_input
{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0 ;
}



/* Main Section */
.banner_container
{
    margin: 40px 0;
}
.banner_image
{
    width: 100%;
}

.category_heading
{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    font-weight: 700;
    color: #282c3f;
    margin-bottom: 20px;
    max-height: 5em;
}
category_items
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item
{
    width: 250px;
}
.footer_container
{
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_column
{
    display: flex;
   flex-direction: column;
}
.footer_column h3
{
    color: #282c3f;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer_column a
{
    color: #696b79;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 10px;
}

.copyright
{
    text-align: end;
    color: #696b79;
    font-size: 14px;
    padding: 15px;
}